.container {
    background-color: skyblue;
}

.about-title {
    color: gray;
    font-weight: bold;
    font-size: 50px;
  }

  .about-description{
    color: black;
    font-weight: bold;
    font-size: 20px;
  }