.container{
    background-color: skyblue;
   
}
.home-start {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .cart {
    padding: 10px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
}