.header-container{
background-color: skyblue;
  }
  .title {
    color: gray;
    font-weight: bold;
    font-size: 59px;
  }
  .supporting-title {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  .learning-btn {
    background-color:rgb(1, 1, 31);
    outline: none;
    border: none;
    padding: 17px 34px;
    border-radius: 20px;
    color: rgb(218, 189, 118);
  }